/*body {
    min-width:1000px;
    height: 100%;
    
    margin-left: 4px;
}*/
body,html {
    font-family: Verdana,Arial,Helvetica,sans-serif;
    margin:0;
    padding:0 10px;
    background:#000;
    color:#000;
    margin-left: 4px;
    height: 100%;
}
#wrap {
    background:#ccc;
    margin:0 auto;
    width:1000px;
    height:100%
}
#header {
    background:#FFF;
}
#header h1 {
    padding:5px;
    margin:0;
}

#nav {
    background:#fff;
    padding:0 10px;
    
    font-weight: bold;
}
#nav ul{
    margin:0;
    padding:5px;
    list-style:none;
}
#nav li{
    display:inline;
    margin:0;
    padding:0;
}
#main {
    background:#FFF;
    float:right;
    /*   margin-right: -150px; */
    width:820px;
    height:100%;
}
#main h2, #main h3, #main p {
    padding:0 10px;
}

#sidebar {
    background:#CCC;
    float:left;
    width:180px;
    height:100%;
}
#sidebar ul {
    margin-bottom:0;
}
#sidebar h3, #sidebar p {
    padding:0 10px;
}

#footer {
    background:#FFF;
    clear:both;
    height: 25px;
}
#footer p {
    padding:5px;
    margin:3px;
    text-align: center;
}

.separator {
    padding:0 3px 0 3px;
    color:black;
}

table{

    margin-left: 10px;
}
td{

}
