
<%content_for :sidebar do%>
  <%= render :partial=>'sidebars/sidebar'%>
<%end%>

<p>
<table>
  <tr>
    <th>Project</th>
    <th>Description</th>
    <th>Action</th>
  </tr>
  <% for project in @projects %>

    <tr>
      <td><%= link_to project.name , { :controller => 'projects', :action => "show",:id => project }%></td>
      <td><%= project.description %></td>
      <td>&nbsp;</td>
    </tr>
  <% end %>
</table>
</p>
